[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antimeridian = "*"
shapely = "*"
geojson = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
